.ticPage {
    width: 90%;
    margin-inline: auto;
}

.ticContainer {
    position: relative;
    width: min(100%, 500px);
    margin-block-start: 80px;
}

.tic {
    width: 100%;
}


.ticHeader {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ticHeader span {
    font-size: 11px;
    align-self: end;
}

.ticFooter {
    position: absolute;
    bottom: 20px;
    left: 15px;
    display: flex;
    gap: 10px;
    align-items: end;
}

.avatarPreview {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    overflow: hidden;
}

.avatarPreview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s ease-in-out;
}

.avatarPreview:hover img {
    transform: scale(1.3);
}

.avatarData p {
    text-align: left;
    color: var(--text-1)
}

.avatarData div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.avatarData div img {
   width: 15px;
}

.avatarData div span {
    font-size: 11px;
}

@media (width >= 768px) {
    .ticPage {
        width: 80%;
    }
    .ticContainer {
        margin-inline: auto;
    }
    .ticHeader {
        width: 300px;
    }
    .ticFooter {
        width: 300px;
    }
    .avatarPreview {
        height: 80px;
        width: 80px;
    }
}

@media (width >= 1024) {
    .ticPage {
        width: 60%;
    }
}