form {
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-block-end: 50px;
}

h1 {
    color: var(--text-1);
    font-size: 2.75rem
}

p, h1 {
    text-align: center;
}

p, label, span {
    color: var(--text-2);
}

label {
    font-weight: 500;
}

.span {
    font-size: 10px;
    color: var(--err);
}

.genButton {
    background-color: var(--btn-bg);
    border: none;
    padding: 16px;
    border-radius: 10px;
    font-weight: 600;
    color: var(--btn-color);
    transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
}

.genButton:hover {
    background-color: var(--err);
    box-shadow: 0 -4px 1px 0 var(--btn-bg) inset;
}

input {
    background-color: var(--input-bg);
    border: 1.5px solid var(--border);
    padding: 16px;
    border-radius: 10px;
    color: var(--text-2);
    outline: none;
    transition: background-color .25s ease-in-out;
}

input:focus,
input:focus-visible,
button:focus,
button:focus-visible,
.avatarLabel:focus::before,
.avatarLabel:focus-visible::before {
    outline: 2px solid var(--border);
    outline-offset: 3px;
}

input:hover {
    background-color: var(--hover);
}
input::placeholder {
    color: var(--border);
}

.avatarCard, .emailCard, .fullNameCard, .usernameCard {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.previewContainer { 
    width: 80px;
    height: 80px;
    background: var(--input-bg);
    border-radius: 15px;
    position: absolute;
    top: 50px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    border: 1.5px solid var(--border);
    overflow: hidden;
}

.previewContainer:hover img {
    transform: scale(1.3);
}

.previewContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .45s ease-in-out;
}

.avatarLabel {
    position: relative;
    margin-block-end: 190px;
}
.avatarLabel::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 180px;
    top: 30px;
    z-index: 1;
    border-radius: 15px;
    background-color: var(--input-bg);
    border: 1.5px dashed var(--border);
    transition: background-color .25s ease-in-out;
}

.avatarLabel:hover::before {
    background-color: var(--hover);
}
.previewText {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    top: 145px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10px;
}

.previewText button {
    border: none;
    background: var(--input-bg);
    padding: 6px 16px;
    color: var(--text-2);
    border-radius: 5px;
}

.previewText button:last-child {
    text-decoration: underline;
}

.normal {
    color: var(--text-2);
}

.errContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (width >= 768px) {
    form {
        width: 80%;
    }
   
    .avatarCard, .emailCard, .fullNameCard, .usernameCard, .genButton {
        width: 75%;
        margin-inline: auto;
    }
}

@media (width >= 1024px) {
    form {
        width: 60%;
    }
}