.ticPage {
    width: 90%;
    margin-inline: auto;
}

.ticContainer {
    position: relative;
    width: min(100%, 500px);
    margin-inline: auto;
    margin-block-start: 80px;
}

.ticContainer span {
    color: var(--text-2);
}
.tic {
    width: 100%;
}


.ticHeader {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ticHeader span {
    font-size: 11px;
    align-self: end;
}

.ticFooter {
    position: absolute;
    bottom: 20px;
    left: 15px;
    display: flex;
    gap: 10px;
    align-items: end;
}

.avatarPreview {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    overflow: hidden;
}

.avatarPreview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s ease-in-out;
}

.avatarPreview:hover img {
    transform: scale(1.3);
}

.avatarData p {
    text-align: left;
    color: var(--text-1)
}

.avatarData div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.avatarData div img {
   width: 15px;
}

.avatarData div span {
    font-size: 11px;
}

.backBtn {
    margin-block: 15px 50px;
    display: flex;
    justify-content: end;
    width: min(100%, 500px);
    margin-inline: auto;
}

.backBtn button {
    background: var(--btn-bg);
    color: var(--btn-color);
    font-weight: 500;
    padding: 16px 20px;
    border: none;
    border-radius: 10px;
    transition: box-shadow .25s ease-in-out, background-color .25s ease-in-out;
}

.backBtn button:hover {
    background-color: var(--err);
    box-shadow: 0 -4px 1px 0 var(--btn-bg) inset;
}

p span {
    color: var(--btn-bg);
}

h1 span {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.side {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.side p {
    writing-mode: vertical-rl;
    font-weight: 600;
    color: var(--number);
    font-size: 20px;
}

@media (width >= 768px) {
    .ticPage {
        width: 80%;
    }
    .ticHeader {
        width: 300px;
    }
    .ticFooter {
        width: 300px;
    }
    .avatarPreview {
        height: 80px;
        width: 80px;
    }
}

@media (width >= 1024) {
    .ticPage {
        width: 60%;
    }
}