.appContainer {
    min-width: 100%;
    min-height: 100lvh;
    background: url("./assets/images/pattern-lines.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.topRight, .topLeft, .midRight, .dBottomLeft, .mBottomLeft {
    position: absolute;
    display: inline-block;
    z-index: -1;
}

.topRight {
    right: 0;
    top: 30px;
    width: 150px;
}

.midRight {
    right: -65px;
    top: 55%;
    width: 150px;
}

.mBottomLeft {
    width: 300px;
    left: 0;
    bottom: 0;
}

.topLeft {
    top: -42px;
    left: -30px;
    width: 150px;
}

.dBottomLeft {
    display: none;;
}

.header {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (width >= 768px) {
    .topRight {
        width: 300px;
    }
   
    .mBottomLeft {
        width: 400px;
    }
}

@media (width >= 1024px) {
    .topRight {
        width: 500px;
    }

    .mBottomLeft {
        display: none;
    }

    .dBottomLeft {
        display: block;
        width: 800px;
        left: 0;
        bottom: 0;
    }
   
    .midRight {
        right: 18%;
        width: 200px;
        top: 50%;
    }
   
    .topLeft {
        width: 200px;
        left: 50px;
        top: -75px;
    }
}