.appContainer {
    width: 100%;
    height: 100lvh;
    background: url("./assets/images/pattern-lines.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

}

.topRight, .topLeft, .midRight, .dBottomLeft, .mBottomLeft {
    position: absolute;
    display: inline-block;
}

.topRight {
    right: 0;
    top: 30px;
    width: 150px;
}

.midRight {
    right: -65px;
    top: 55%;
    width: 150px;
}

.mBottomLeft {
    width: 300px;
    left: 0;
    bottom: 0;
}

.topLeft {
    top: -42px;
    left: -30px;
    width: 150px;
}

.dBottomLeft {
    display: none;;
}

.header {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}