:root {
  --text-1: hsl(0, 0%, 100%);
  --text-2: hsl(252, 6%, 83%);
  --border: hsl(245, 15%, 58%);
  --input-bg: rgba(75, 72, 106, 0.3);
  --hover: rgba(75, 72, 106, 0.65);
  --btn-color: hsl(248, 70%, 10%);
  --btn-bg: hsl(7, 88%, 67%);
  --err: hsl(7, 71%, 60%);
  --gradient: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  min-width: 250px;
  min-height: 100lvh;
  background-image: url("./assets/images/background-mobile.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}

@media (width >= 768px) {
  body {
    background-image: url("./assets/images/background-tablet.png");
  }
}

@media (width >= 1024px) {
  body {
    background-image: url("./assets/images//background-desktop.png");
  }
}


